<div class="container">
    <h2>New Post</h2>
    <form id="new-post" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Content</label>
            <textarea class="form-control" id="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/javascript/new-post.js"></script>